In [79]:
import pandas as pd
import numpy as np

In [81]:
pipin = pd.read_excel("Пыпин.xlsb")

In [82]:
pipin['Дата ДДУ'] = pd.to_datetime('1899-12-30') + pd.to_timedelta(pipin['Дата ДДУ'], unit='D')

In [83]:
pipin = pipin[['ЖК рус', 'Площадь', 'Этаж', 'Дата ДДУ', 'Корпус', 'Тип помещения']]
pipin

                   ЖК рус  Площадь  Этаж   Дата ДДУ      Корпус Тип помещения
0       Академик (Троицк)      3.7    -1 2024-12-21    корпус 2      кладовка
1       Академик (Троицк)      4.2    -1 2024-12-19    корпус 2      кладовка
2       Академик (Троицк)      3.9    -1 2024-12-17    корпус 2      кладовка
3       Академик (Троицк)      3.6    -1 2024-12-17    корпус 2      кладовка
4       Академик (Троицк)      3.8    -1 2024-12-15    корпус 2      кладовка
...                   ...      ...   ...        ...         ...           ...
328958              Юнино     51.0     4 2023-02-01  корпус 1.1      квартира
328959              Юнино     36.0    15 2023-01-26  корпус 1.1      квартира
328960              Юнино     32.0    16 2023-01-26  корпус 1.1      квартира
328961              Юнино     76.8     4 2023-01-17  корпус 1.1      квартира
328962              Юнино     32.0     2 2022-12-28  корпус 1.1      квартира

[328963 rows x 6 columns]

In [87]:
pipin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328963 entries, 0 to 328962
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ЖК рус         328963 non-null  object
 1   Площадь        328951 non-null  float64
 2   Этаж           328963 non-null  int64
 3   Дата ДДУ       328863 non-null  datetime64[ns]
 4   Корпус         321522 non-null  object
 5   Тип помещения  328959 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 15.1+ MB

In [148]:
pipin_april = pipin[(pipin['Дата ДДУ'].dt.month == 4) & (pipin['Дата ДДУ'].dt.year == 2025) & ((pipin['Тип помещения'] == "квартира") | (pipin['Тип помещения'] == "апартамент")) ]

In [141]:
pipin_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1471 entries, 675 to 328218
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ЖК рус         1471 non-null   object
 1   Площадь        1471 non-null   float64
 2   Этаж           1471 non-null   int64
 3   Дата ДДУ       1471 non-null   datetime64[ns]
 4   Корпус         1468 non-null   object
 5   Тип помещения  1471 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 80.4+ KB

In [149]:
pipin_april['Корпус'] = pipin_april['Корпус'].str.replace(r'\bкорпус \b', '', regex=True).str.strip()

C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12988\2970435185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pipin_april['Корпус'] = pipin_april['Корпус'].str.replace(r'\bкорпус \b', '', regex=True).str.strip()

In [150]:
pipin_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1471 entries, 675 to 328218
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ЖК рус         1471 non-null   object
 1   Площадь        1471 non-null   float64
 2   Этаж           1471 non-null   int64
 3   Дата ДДУ       1471 non-null   datetime64[ns]
 4   Корпус         1468 non-null   object
 5   Тип помещения  1471 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 80.4+ KB

In [132]:
df_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108160 entries, 0 to 219078
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Дата обновления        108160 non-null  datetime64[ns]
 1   Название проекта       108160 non-null  object
 2   Корпус                 106756 non-null  object
 3   Площадь, кв.м          108155 non-null  float64
 4   Цена со скидкой, руб.  108159 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 5.0+ MB

In [65]:
df = pd.read_excel("04-05.2025_РЫНОК_типология.xlsx")

In [108]:
df_april = df[['Дата обновления', 'Название проекта', 'Корпус', 'Площадь, кв.м', 'Цена со скидкой, руб.']]

In [155]:
df_april['Название проекта'] = df_april['Название проекта'].str.lower()

In [128]:
df_april = df_april[(df_april['Дата обновления'].dt.month == 4) & (df_april['Дата обновления'].dt.year == 2025)]

In [156]:
df_april

,Дата обновления,Название проекта,Корпус,"Площадь, кв.м","Цена со скидкой, руб."
0,2025-04-01,1-й донской,1,28.10,8455964
1,2025-04-01,1-й донской,1,63.10,14304013
2,2025-04-01,1-й донской,1,42.10,10879229
3,2025-04-01,1-й донской,1,59.50,13717011
4,2025-04-01,1-й донской,1,69.30,14631586
...,...,...,...,...,...
219074,2025-04-01,каскад парк,2,128.54,24500000
219075,2025-04-01,каскад парк,22,167.24,20000000
219076,2025-04-01,каскад парк,34,100.78,13700000
219077,2025-04-01,каскад парк,37,136.18,26500000
219078,2025-04-01,каскад парк,5,113.00,19000000

In [77]:
df_april['Цена со скидкой, руб.'] = df_april['Цена со скидкой, руб.'].astype(float)

In [78]:
df_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108160 entries, 0 to 219078
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Дата обновления        108160 non-null  datetime64[ns]
 1   Название проекта       108160 non-null  object
 2   Корпус                 106756 non-null  object
 3   Площадь, кв.м          108155 non-null  float64
 4   Цена со скидкой, руб.  108159 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 5.0+ MB

In [161]:
def get_weighted_price(row, df_april):
    # Название проекта
    project = row['ЖК рус']
    section = row['Корпус']
    area = row['Площадь']

    # Основной фильтр: по названию проекта
    match = df_april[df_april['Название проекта'] == project.str.lower()]

    # Дополнительный фильтр по корпусу, если секция указана
    if pd.notna(section):
        match = match[match['Корпус'] == section]

    # Поиск точного совпадения по площади
    exact = match[np.isclose(match['Площадь, кв.м'], area, atol=0.01)]

    if not exact.empty:
        # Возвращаем первую найденную цену при точном совпадении
        return exact['Цена со скидкой, руб.'].sum() / exact['Площадь, кв.м'].sum()
    else:
        # Ищем квартиры с площадью в интервале ±1 кв.м
        approx = match[(match['Площадь, кв.м'] >= area - 2) & (match['Площадь, кв.м'] <= area + 2)]

        if not approx.empty:
            # Средневзвешенная цена по площади
            return approx['Цена со скидкой, руб.'].sum() / approx['Площадь, кв.м'].sum()
        else:
            return np.nan

In [162]:
pipin_april['Цена'] = pipin_april.apply(lambda row: get_weighted_price(row, df_april), axis=1)

AttributeError: 'str' object has no attribute 'str'

In [144]:
pipin_april[pipin_april['ЖК рус'] == 'Скандинавия']

,ЖК рус,Площадь,Этаж,Дата ДДУ,Корпус,Тип помещения,Цена
294294,Скандинавия,38.6,13,2025-04-25,18.2.6,квартира,304703.333333
294295,Скандинавия,52.7,8,2025-04-22,18.2.2,квартира,339960.000000
294297,Скандинавия,78.4,15,2025-04-21,18.1.3,квартира,259795.000000
294298,Скандинавия,78.1,10,2025-04-21,18.1.2,квартира,258880.000000
294300,Скандинавия,66.1,12,2025-04-21,18.2.3,квартира,316022.000000
294302,Скандинавия,58.6,10,2025-04-18,18.2.4,квартира,302706.000000
294303,Скандинавия,48.8,4,2025-04-17,18.1.4,квартира,302610.530421
294304,Скандинавия,52.1,4,2025-04-16,18.1.2,квартира,290150.000000
294305,Скандинавия,52.4,12,2025-04-16,18.2.1,квартира,344740.000000
294306,Скандинавия,66.1,10,2025-04-16,18.1.3,квартира,275255.714286
294307,Скандинавия,78.5,13,2025-04-14,18.2.6,квартира,NaN
294309,Скандинавия,49.9,9,2025-04-13,18.2.5,квартира,303907.500000
294310,Скандинавия,49.9,8,2025-04-10,18.2.5,квартира,303907.500000
294311,Скандинавия,65.7,10,2025-04-10,18.1.4,квартира,279810.000000
294313,Скандинавия,78.6,3,2025-04-10,18.2.3,квартира,298885.000000
294314,Скандинавия,78.5,12,2025-04-10,18.2.6,квартира,NaN
294316,Скандинавия,78.5,16,2025-04-09,18.2.6,квартира,NaN
294317,Скандинавия,33.5,8,2025-04-08,18.1.4,квартира,331380.000000
294318,Скандинавия,36.2,11,2025-04-08,18.1.3,квартира,336140.000000
294319,Скандинавия,50.0,5,2025-04-08,18.2.5,квартира,300260.000000
294320,Скандинавия,57.7,12,2025-04-08,18.2.1,квартира,337240.000000
294321,Скандинавия,61.6,2,2025-04-07,18.1.4,квартира,NaN
294322,Скандинавия,66.0,4,2025-04-06,18.1.4,квартира,279810.000000
294323,Скандинавия,52.1,17,2025-04-05,18.2.3,квартира,336060.000000
294324,Скандинавия,52.1,16,2025-04-04,18.2.3,квартира,336060.000000
294325,Скандинавия,40.6,7,2025-04-03,18.1.3,квартира,315030.000000
294327,Скандинавия,52.3,14,2025-04-01,18.2.1,квартира,344740.000000
294328,Скандинавия,51.9,12,2025-04-01,18.1.2,квартира,290150.000000

In [137]:
df[df['Название проекта'] == 'Академик'][['Дата обновления','Название проекта', 'Корпус', 'Площадь, кв.м']]

       Дата обновления Название проекта Корпус  Площадь, кв.м
128667      2025-05-01         Академик      1           39.8
128668      2025-05-01         Академик      1           39.9
128669      2025-05-01         Академик      1           41.2
128670      2025-05-01         Академик      1           57.8
128671      2025-05-01         Академик      1           66.2
128672      2025-05-01         Академик      1           66.2
128673      2025-05-01         Академик      1           66.2
128674      2025-05-01         Академик      1           66.2

In [135]:
pipin[pipin['ЖК рус'] == 'Юнино'][['ЖК рус', 'Корпус', 'Площадь']]

       ЖК рус Корпус  Площадь
0    Академик      2      3.7
1    Академик      2      4.2
2    Академик      2      3.9
3    Академик      2      3.6
4    Академик      2      3.8
..        ...    ...      ...
768  Академик      1     42.5
769  Академик      1     57.8
770  Академик      1     89.2
771  Академик      1     57.3
772  Академик      1     39.8

[773 rows x 3 columns]

In [136]:
pipin[pipin['ЖК рус'] == 'Юнино']

       ЖК рус  Площадь  Этаж   Дата ДДУ Корпус Тип помещения
328189  Юнино     20.0    17 2025-04-22    2.1      квартира
328190  Юнино     41.0    16 2025-04-21    2.1      квартира
328191  Юнино     36.1    17 2025-04-21    2.1      квартира
328192  Юнино      5.5    -1 2025-04-21    2.1      кладовка
328193  Юнино     48.2     9 2025-04-18    2.2      квартира
...       ...      ...   ...        ...    ...           ...
328958  Юнино     51.0     4 2023-02-01    1.1      квартира
328959  Юнино     36.0    15 2023-01-26    1.1      квартира
328960  Юнино     32.0    16 2023-01-26    1.1      квартира
328961  Юнино     76.8     4 2023-01-17    1.1      квартира
328962  Юнино     32.0     2 2022-12-28    1.1      квартира

[774 rows x 6 columns]

In [12]:
target = 20
tolerance = 1
df_filtered = df[(df['Название проекта'] == 'Юнино') & (df['Площадь, кв.м'].between(target - tolerance, target + tolerance))]

In [13]:
df_filtered

,Дата обновления,Название проекта,на англ,промзона,Местоположение,Метро,"Расстояние до метро, км","Время до метро, мин",МЦК/МЦД/БКЛ,"Расстояние до МЦК/МЦД, км",...,Договор,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена кв.м, руб.","Цена лота, руб.","Скидка,%","Цена кв.м со ск, руб.","Цена со скидкой, руб."
99796,2025-04-01,Юнино,NaN,NaN,за МКАД,Бутово,5.6,67.2,Щербинка,1.2,...,ДДУ,квартиры,С отделкой,студия,20.0,NaN,0,NaN,NaN,6690000
99801,2025-04-01,Юнино,NaN,NaN,за МКАД,Бутово,5.6,67.2,Щербинка,1.2,...,ДДУ,квартиры,С отделкой,студия,20.2,NaN,0,NaN,NaN,6771040
210773,2025-05-01,Юнино,NaN,NaN,за МКАД,Бутово,5.6,67.2,Щербинка,1.2,...,ДДУ,Квартиры,С отделкой,студия,20.0,NaN,6706000,NaN,NaN,6706000
210782,2025-05-01,Юнино,NaN,NaN,за МКАД,Бутово,5.6,67.2,Щербинка,1.2,...,ДДУ,Квартиры,С отделкой,студия,20.2,NaN,6771040,NaN,NaN,6771040

In [152]:
pipin_april.to_excel("output2.xlsx")

In [146]:
name_dict = {'Сити Микс-Новокосино': 'СитиМикс Новокосино', 'Найс Лофт': 'Найс лофт', 'Cityzen': 'CITYZEN',
             'JOIS' : 'Jois',
             'Павелецкая сити': 'Павелецкая Сити',
             'Квартал Серебряный Бор': 'Квартал Серебряный бор', 'Indy Towers ': 'Indy Towers',
             'AFI Park «Воронцовский' : 'AFI Park Воронцовский',
             'Квартал «Издание»': 'Квартал Издание',
             'Квартал «МОНС»': 'Квартал «МОНС',
             'Новая Алексеевская Роща': 'Новая Алексеевская роща', 'Событие-2': 'Событие',
             'Событие-3': 'Событие', 'Событие-4': 'Событие', 'Headliner': 'headliner', 'tate': 'Tate',
             'ЗИЛАРТ': 'Зиларт', 'Никольский квартал отрада ': 'Никольский квартал',
             'Аист резиденс': 'Аист Резиденс', 'Белая дача парк': 'Белая Дача парк', 'Зелёный парк': 'Зеленый парк',
             'Петровский парк II': 'Петровский парк ',
             'Котельники парк': 'Котельники Парк', 'РУСИЧ Кантемировский': 'Кантемировский',
             'Космический квартал': 'Космический Квартал', 'Цветочные поляны': 'Цветочные Поляны',
             'Nagatino i': 'Nagatino i-Land',
             'Riversky': 'RiverSky', 'Лужники Коллекшн': 'LUZHNIKI', 'Monodom Lake': 'Апарт-комплекс Monodom Lake',
             'Аквилон SIGNAL': 'SIGNAL', 'Аквилон BESIDE': 'BESIDE', 'Аквилон BESIDE 2.0': 'BESIDE 2.0',
             'Аквилон Митино': 'Митино', 'Баланс': 'balance', 'Хайд': 'Hide',
             'Новая Звезда-2': 'Новая Звезда', 'Новая Звезда, II очередь': 'Новая Звезда',
             'Новая Звезда, I очередь' : 'Новая Звезда',
             'Мой адрес в Ватутинках': 'В Ватутинках', 'Мой адрес в Зеленограде': 'В Зеленограде',
             'Мой адрес на Амурской': 'На Амурской', 'Мой адрес на Варшавском 139': 'На Варшавском 139',
             'Мой адрес на Дмитровском 89': 'На Дмитровском 89', 'Мой адрес на Клинской': 'На Клинской',
             'Мой адрес на Люблинской 80 к7': 'На Люблинской 80 к7',
             'Мой адрес на Профсоюзной з/у 60/1': 'На Профсоюзной з/у 60/1',
             'Мой адрес на Салтыковской': 'На Салтыковской',
             'Мой адрес на Соколиной Горе': 'На Соколиной Горе', 'Мой адрес на Шелихова 9': 'На Шелихова 9',
             'Мой адрес на Щелковском 90к1': 'На Щелковском 90к1',
             'Мой адрес на Большой Филевской': 'На Большой Филевской',
             'UNO, Соколиная гора' : 'UNO. Соколиная гора', 'UNO, Головинские пруды' : 'UNO. Головинские пруды',
             'UNO, Горбунова' : 'UNO. Горбунова',
             'Лес': 'Комплекс апартаментов LES', 'Левел Лесной (Микрогород в лесу)': 'Level Лесной',
             'Элевен': 'Дизайнерский дом Eleven', 'Диалог': 'Dialog',
             'Лаврушинский 5': 'Лаврушинский', 'Белый град (Белый мыс)': 'Белый град', 'EVO': 'ЭВО',
             'Сколково Ван (Заречный квартал)': 'Skolkovo one', 'Liberty': 'Либерти', 'Влюберцы апарт-комплекс':
             'Влюберцы', 'Гостиничный комплекс Аметист': 'Аметист', 'Лесная Отрада 2-я очередь': 'Отрада Лесная',
            'Лесная Отрада 1-я очередь': 'Отрада Лесная', 'Облака 2.0': 'Облака', 'Riga Hills': 'Рига Хиллс',
             'КИТ' : 'Кит', 'Золотой, жилой квартал' : 'Золотой', 'Саввинская 27 от Level' : 'Саввинская 27 ',
             'Саввинская 17 от Level' : 'Саввинская 17', 'Клубный дом Full House' : 'Full House',
             'Апсайд Тауэрс' : 'Upside Towers', 'LUZHNIKI' : 'Luzhniki Collection', 'SOLE HILL (Соул хилл)' : 'SOLE HILL',
             'На вертолетчиков' : 'Мой адрес на Вертолетчиков', 'Комплекс апартаментов «Wellbe' : 'Wellbe',
             'Дизайнерский дом Eleven' : 'Eleven', "D'ORO MILLE" : 'Доро Милле', 'Страна.Озёрная' : 'Страна. Озерная',
             'Квартал «Метроном' : 'Квартал Метроном', 'Квартал «Издание' : 'Квартал Издание', 'Квартал «МОНС' : 'Квартал МОНС',
             'Balance' : 'balance', 'Никитский-6': 'Никитский, 6', 'REPUBLIC' : 'Republic',
             'Страна.Заречная' : 'Страна. Заречная', 'Седьмое небо' : '7 небо', 'ЛИТЕЙНЫЙ' : 'Литейный', 'Life-time' : 'Life Time',
             'Андреевка Life' : 'Андреевка Лайф', 'Береговой-2' : 'Береговой 2', 'Весна' :'Весна (Ивантеевка)',
             'ЖК SOLE HILL (ЖК Соул хилл)' : 'SOLE HILL', 'Дом-Мегалит в Королёве' : 'Дом-Мегалит в Королеве', 'Домодедово Парк Новый квартал' : 'Домодедово парк. Новый квартал',
             'Внуково парк': 'Внуково Парк', 'Героев' : 'Квартал Героев', 'МЫС – премиальный загородный проект' : 'МЫС',
             'Одинград Квартал Семейный' : 'Одинград. Квартал семейный', 'Олива Лесной городок' : 'Олива', 'Олимп 3' : 'Олимп-3', 'Подлипки Город' : 'Подлипки-Город', 'ПОЛЁТ-Купавна' : 'Полет Купавна',
             'Сколково' : 'Резиденции Сколково ', 'Пятницкое 58' : 'Пятницкое, 58', 'ул. Советская 18 (Мессиер 18)' : 'Советская 18 (Мессиер 18)', 'Солнечный Парк' : 'Солнечный Парк 2',
             'Страна.Парковая' : 'Страна. Парковая', 'Дом на Студенческом' : 'Дом на Студенческом (Ивантеевка)', '31 квартал 3-я очередь' : '31 Квартал',
             '31 Квартал 2-я очередь' : '31 Квартал', '31 квартал' : '31 Квартал', 'MOMENTS' : 'Moments', 'Пречистенка' : 'Пречистенка 8', 'Зеленая Вертикаль' : 'Зеленая вертикаль',
             'Ривер Парк' : 'Ривер парк', 'Каштановая роща' : 'Каштановая Роща',
             'Новоград монино' : 'Новоград Монино', 'АРТ' : 'Арт', 'RIVER HOUSE' : 'Ривер хаус', 'Пушкино Град' : 'Пушкино град',
             'Видный Берег 2.0' : 'Видный берег 2.0', 'ЭЛЬЙОН' : 'Эльйон', 'INJOY': 'Injoy', 'Тессинский, 1' : 'Тессинский 1', 'Very на ботанической' : 'Very на Ботанической',
'1-ый Ленинградский': '1-й Ленинградский',
                  'Борисоглебское-2': 'Борисоглебское',
                  'Квартал Румянцево (Мелисад)': 'Квартал Румянцево',
                  'Кронштадский 9': 'Кронштадтский 9',
                  'Кронштадсткий 9': 'Кронштадтский 9',
                  'Петровский парк 2': 'Петровский парк',
                  'Пятницкое, 58 (Перец)': 'Пятницкое, 58',
                  'РГ. Октябрьское поле': 'Октябрьское поле',
                  'Резиденция Замоскворечье': 'Резиденции Замоскворечье',
                  'Событие-1': 'Событие',
                  'Событие-5': 'Событие',
                  'Тринити-2': 'Тринити',
                  'Тринити-3': 'Тринити',
                  'Уно. Головинские пруды': 'UNO. Головинские пруды',
                  'Фестиваль парк-2': 'Фестиваль парк',
                  '1-ый Химкинский': '1-й Химкинский',
                  'Восточный (НДВ)': 'Восточный',
                  'Гранд Комфорт-2': 'Гранд Комфорт',
                  'Легенда Корнево': 'Легенда Коренево',
                  'Одинград Семейный': 'Одинград. Квартал семейный',
                  'Одинград. Семейный': 'Одинград. Квартал семейный',
                  'Светлый мир. Биополис': 'Светлый мир БиоПолиc',
                  'Эко Видное 2.0': 'У реки. Эко Видное 2.0',
                  'Форевилль' : 'Foreville',
                  'Войс Тауэрс' : 'Voice Towers',
                  'Афи Парк Воронцовский' : 'AFI Park Воронцовский',
                  'Афи Тауэр' : 'Afi Tower',
             'Ривер парк' : 'Riverpark',
             'Ривер парк Тауэрс Кутузовский' : 'River Park Towers Кутузовский',
             'Виктори Парк Резиденс' : 'Victory Park Residences',
             'Сити Микс' : 'Citi-Mix',
             'Кэпитал Тауэрс' : 'Capital Towers',
             'ОКО' : 'МФК ОКО',
             'Скай Хаус' : 'Sky House',
             'Ракурс' : 'Rakurs',
             'Моментс': 'Moments',
             'Портленд':'Portland',
             'Соул':'Soul',
             'Ферст':'FORST',
             'Культ' : 'CULT',
             'Чкалов' : 'Дом Chkalov',
             'Левел Академическая' : 'Level Академическая',
             'Левел Бауманская' : 'Level Бауманская',
             'Левел Звенигородская' : 'Level Звенигородская',
             'Левел Мичуринский' : 'Level Мичуринский',
             'Левел Нагатинская': 'Level Нагатинская',
             'Левел Нижегородская': 'Level Нижегородская',
             'Левел Причальный': 'Level Причальный',
             'Левел Селигерская': 'Level Селигерская',
             'Левел Стрешнево': 'Level Стрешнево',
             'Левел Южнопортовая': 'Level Южнопортовая',
             'Сити Бэй' : 'City Bay',
             'Ситизен' : 'CITYZEN',
             'Джойс' : 'Jois',
             'Веер' : 'VEER',
             'Мира' : 'МИRA',
             'МОД' : 'Mod',
             'Сет' : 'SET',
             'Симфони 34' : 'Symphony 34',
             'Слава' : 'SLAVA',
             'Форум' : 'FORUM',
             'Фэймос' : 'Famous',
             'Сторис' : 'Stories на Мосфильмовской',
             'Нью Форм  Аминьевское' : 'Нью Форм Аминьевское',
             'Логос' : 'Logos',
             'Сезар Сити' : 'SEZAR CITY',
             'Фулл Хаус' : 'Full House',
             'Энитео' : 'Eniteo',
             'Твелв' : 'Twelve',
             'Эвер' : 'Ever',
             'Эра' : 'ERA',
             'Шампань' : 'Champine',
             'Спрингс' : 'Springs',
             'Веспер Кутузовский' : 'Vesper Кутузовский',
             'Лаки 1905' : 'Lucky',
             'Эхэд' : 'AHEAD',
             'Квартал Монс' : 'Квартал МОНС',
             'Метроном' : 'Квартал Метроном',
             'Аквилон Бисайд' : 'BESIDE',
             'Аквилон Бисайд 2.0' : 'BESIDE 2.0',
             'Инди Тауэрз' : 'Indy Towers',
             'Долгоруковская, 25' : 'Долгоруковская 25',
             'Кинетик' : 'Kinetik',
             'Академик (Троицк)' : 'Академик',
             'Монодом Лэйк' : 'Апарт-комплекс Monodom Lake',
             'Билак Коломенское' : 'Beluck Коломенское',
             'Май Приорити Басманная' : 'MYPRIORITY Басманный',
             'Май Приорити Дубровка' : 'MYPRIORITY Дубровка',
             'Май Приорити Мневники' : 'MYPRIORITY Мневники',
             'Май Приорити Павелецкая' : 'MYPRIORITY Павелецкая',
             'РЕКА' : 'Река',
             'Соле Хиллс' : 'SOLE HILL',
             'Инджой' : 'Injoy',
             'Кутузовград 2' : 'Кутузов Град',
             'Риверскай' : 'RiverSky',
             'Топхиллс' : 'TopHills',
             'Форивер' : 'Foriver',
             'Вест Гарден' : 'West Garden',
             'Лайф тайм (Онест)' : 'Life time',
             'Олл ин Салют' : 'Salut',
             'Ай лав - Счастье вместе' : 'ilove',
             'Тэйт' : 'Tate',
             'Хедлайнер' : 'headliner',
             'Кристал' : 'CRYSTAL Трилогия',
             'Дом Малевич' : 'Дом MALEVICH',
             'Северный порт. Береговые кварталы.' : 'Северный порт. Береговые кварталы',
             'Вейв' : 'WAVE',
             'Обручева, 30' : 'Обручева 30',
             'Кинг энд Санс' : 'KING & SONS',
             'Мэйнстрит' : 'Mainstreet',
             'Ред7' : 'RED7',
             'Уно. Соколиная Гора' : 'UNO. Соколиная гора',
             'Вери' : 'Very на Ботанической',
             'Эмоушн' : 'Emotion',
             'ЭвоПарк Измайлово' : 'Evopark Измайлово',
             'ЭвоПарк Сокольники' : 'Evopark Сокольники',
             'Наметкин Тауэр' : 'Nametkin tower',
             'ФизтехСити' : 'Физтехсити',
             'Иртышский квартал (2-й Иртышский)' : '2-й Иртышский',
             'Барклая,6' : 'Барклая 6',
             'Холланд парк' : 'Holland park',
             'Хай Лайф' : 'High Life',
             'Лайф Варшавская' : 'Life Варшавская',
             'Опус' : 'Opus',
             'Прайд' : 'Pride',
             'Шифт' : 'Shift',
             'Вэлби' : 'Wellbe',
             'Дрим Рива' : 'Dream Riva',
             'Дрим Тауэрс' : 'Dream Towers',
             'Нева Тауэрс' : 'NEVA TOWERS',
             'Инсайдер' : 'INSIDER',
             'Рашин дизайн дистрикт' : 'Russian Design District',
             'Союз' : 'СОЮЗ',
             'Нова' : 'NOVA',
             'Октябрьская 98 (МиррорЗдание)' : 'Октябрьская 98',
             'Стремянный 2 (Амарант)' : 'Стремянный 2',
             'Зе Файв' : 'Five Towers',
             'Скай Вью' : 'SkyView',
             'Проспект 39( Дистрикт 39)' : 'Проспект 39',
             'СберСити' : 'Сберсити',
             'Восемь кленов' : '8 Кленов',
             'ВАУ' : 'WOW',
             'Страна Заречная' : 'Страна. Заречная',
             'Страна Озерная' : 'Страна. Озерная',
             'Экотауэр Крылатское (Крылатская33)' : 'Клубный квартал Крылатская 33',
             'Диус' : 'DIUS',
             'Деко Резиденс': 'Deco Residence',
             'Вест Тауэр' : 'West Tower',
             'Легаси' : 'Legacy',
             'Оникс' : 'Onyx',
             'Стеллар Сити' : 'Stellar City',
             'Амбер Сити' : 'Amber City',
             'Роттердам' : 'Rotterdam',
             'Сидней Прайм' : 'Sydney Prime',
             'Сидней Сити' : 'Sydney City',
             'Скай Гарден' : 'Sky Garden',
             'Селф' : 'Self',
             'Воксхолл' : 'Voxhall',
             'Мариинн' : 'Mariinn Park',
             'Нагатино айленд' : 'Nagatino i-Land',
             'Шагал' : 'Shagal',
             'Джи Три Театральный' : 'G3 Театральный',
             'Олимп' : 'Олимп (Хотьково)',
             'Две столицы' : 'Две Столицы',
             'По ул. Макаренко' : 'по ул. Макаренко',
             'Белый град' : 'Белый Град',
             'Мытищи-Сити' : 'Мытищи Сити',
             'Москворецкий' : 'Москворецкий (Тучково)',
             'Спутник' : 'Sky Sputnik',
             'Мытищи-парк' : 'Мытищи Парк',
             'Учебный 9' : 'в пер. Учебный',
             'Адрес' : 'Adres',
             'Бакеево парк' : 'Бакеево Парк',
             'Скандинавия Юг' : 'Скандинавия',
             'Скандинавия Центр' : 'Скандинавия'




             }

In [147]:
pipin['ЖК рус'] = pipin['ЖК рус'].replace(name_dict)